@model Bloggie.Web.Models.ViewModel.EmailEntity

@{
    ViewData["Title"] = "Create Email";
}
<div class="mt-3">
    <h2>Create Email</h2>
</div>


<form method="post" enctype="multipart/form-data" asp-action="SendEmail">
    <div class="form-group">
        <label for="ToEmailAddress">To Email Address</label>
        <input type="email" class="form-control" id="ToEmailAddress" name="ToEmailAddress" asp-for="ToEmailAddress">
    </div>
    <div class="form-group">
        <label for="Subject">Subject</label>
        <input type="text" class="form-control" id="Subject" name="Subject" asp-for="Subject">
    </div>
    <div class="form-group">
        <label for="EmailBodyMessage">Email Body</label>
        <textarea class="form-control" id="EmailBodyMessage" name="EmailBodyMessage" rows="3" asp-for="EmailBodyMessage"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>
